[submodule "lib/libsodium"]
	path = lib/libsodium
	url = https://github.com/BlackBeetleHub/libsodium.git
[submodule "lib/xdrpp"]
	path = lib/xdrpp
	url = https://github.com/BlackBeetleHub/xdrpp.git
[submodule "lib/libmedida"]
	path = lib/libmedida
	url = https://github.com/BlackBeetleHub/medida.git
